body{
    margin: 0;
    padding: 0;
}
nav{
    backdrop-filter: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c2eeff46;
    margin: 0 auto;
    color: #000000;
    width: 90%;
    padding: 10px;
}
.app-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}
    footer{
        text-align: center;
        padding: 10px;
        background-color: #c2eeff59;
        color: #000000;
        margin: 0 auto;
      
    }


    main{
  flex: 1;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */
}
/* 
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

main ul li{
  list-style: disc;
  gap: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.15);
}
.card{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}